files_archive/

# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local variables can contain credentials or account-specific values.
*.tfvars
*.tfvars.json

# Local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local environment files
.env
